<?xml version='1.0' encoding="iso-8859-1"?>

<!DOCTYPE cruisecontrol [
<!ENTITY maillist SYSTEM "committer-list.xml">
]>
<cruisecontrol>
	<plugin name="cvs" classname="net.sourceforge.cruisecontrol.sourcecontrols.CVS"/>
	<plugin name="currentbuildstatusbootstrapper"
	    classname="net.sourceforge.cruisecontrol.bootstrappers.CurrentBuildStatusBootstrapper"/>
	<plugin name="ant"
	    classname="net.sourceforge.cruisecontrol.builders.AntBuilder"/>
	<plugin name="pause"
	    classname="net.sourceforge.cruisecontrol.PauseBuilder"/>
	<!--	<plugin name="email"
		classname="net.sourceforge.cruisecontrol.publishers.HTMLEmailPublisher"/> -->
	<plugin name="currentbuildstatuspublisher"
	    classname="net.sourceforge.cruisecontrol.publishers.CurrentBuildStatusPublisher"/>
	<plugin name="artifactspublisher"
	    classname="net.sourceforge.cruisecontrol.publishers.ArtifactsPublisher"/>

#foreach ($project in $root.getChildren("project") )
#parse ($project.getAttributeValue("template") )
#end
</cruisecontrol>

