	#set( $name = $project.getAttributeValue("name") )
	<project name="$name" buildafterfailed="$project.getAttributeValue("buildafterfailed")">
	        <listeners>
	          <currentbuildstatuslistener
		      file="logs/$name/buildstatus.txt"/>
	        </listeners>	
	        
		<!-- Bootstrappers are run every time the build runs,
		     *before* the modification checks -->
		<bootstrappers>
		</bootstrappers>

		<!-- Defines where cruise looks for changes, to decide whether to run the build -->
		<!-- quietperiod - seconds to wait for no changes before doing a build -->
		#set( $requiremodification = $project.getAttributeValue("requiremodification") )
                #set( $modificationset1 =  $project.getAttributeValue("modificationset1") )
                #set( $modificationset2 = $project.getAttributeValue("modificationset2") )		
		#set( $fakeModset = $project.getAttributeValue("fakeModset") )
		#set( $tag = $project.getAttributeValue("tag") )
		#set( $buildstatuslogdir = $project.getAttributeValue("buildstatuslogdir") )
<modificationset quietperiod="$project.getAttributeValue("quietperiod")" #if( !($requiremodification == "")) requiremodification="$requiremodification" #end>
		    <svn localworkingcopy="checkout/$project.getAttributeValue("modificationset")" #if( !($tag == "") ) tag="$project.getAttributeValue("tag")" #end/>
#if( !($modificationset1 == "") ) <svn localworkingcopy="checkout/$modificationset1" #if( !($tag == "") ) tag="$project.getAttributeValue("tag")" #end/> #end
#if( !($modificationset2 == "") ) <svn localworkingcopy="checkout/$modificationset2" #if( !($tag == "") ) tag="$project.getAttributeValue("tag")" #end/> #end		    
		    #if( !($buildstatuslogdir == "")) <buildstatus logdir="$buildstatuslogdir"/>  #end
		    #if( !($fakeModset ==""))
		    <!-- use this for testing, don't wait for cvs log-->
		    <httpfile url="$fakeModset"/>
		    #end
</modificationset>

		<!-- Configures the actual build loop, how often and which build file/target -->
		<!-- interval - (300) num seconds between checks -->
		#set( $jbossdir = $project.getAttributeValue("jbossdir") )
		#set( $svnurl = $project.getAttributeValue("svnurl") )
		#set( $scheduleinterval = $project.getAttributeValue("scheduleinterval") )
		#set( $time = $project.getAttributeValue("time") )		
		<schedule #if( !($scheduleinterval == "") ) interval="$project.getAttributeValue("scheduleinterval")" #end>
                    <ant buildfile="$project.getAttributeValue("buildfile")" target="$project.getAttributeValue("target")" antscript="/opt/apache-ant-1.6.2/bin/ant" #if( !($time == "") ) time="$project.getAttributeValue("time")" #end
                         uselogger="$project.getAttributeValue("uselogger")" usedebug="$project.getAttributeValue("usedebug")" timeout="$project.getAttributeValue("timeout")" antWorkingDir="scripts">
#if( !($jbossdir == "")) <property name="jboss.dir" value="$jbossdir"/> #end
#if( !($svnurl == "")) <property name="svn.url" value="$svnurl"/> #end
                    </ant>	
		</schedule>

		<!-- directory to write build logs to -->
                <log dir="logs/$name">
                   <merge removeproperties="$project.getAttributeValue("removeproperties")"
                          file="$project.getAttributeValue("testResults")"/>
                </log>

                <!-- Publishers are run *after* a build completes -->
                <publishers>
                    <artifactspublisher
                        dir="scripts/logbuild/$project.getAttributeValue("logbuilddirectory")"
                        dest="artifacts/$name"/>
		    <currentbuildstatuspublisher file="logs/$name/buildstatus.txt"/>

		    <!-- CHANGE TO cruisecontrol install dir and reporting host-->
		    <htmlemail mailhost="localhost"
			css="../cruisecontrol-2.1.6/reporting/jsp/css/cruisecontrol.css"
			xsldir="../cruisecontrol-2.1.6/reporting/jsp/xsl"
			logdir="logs/$name"
			returnaddress="$project.getAttributeValue("emailFrom")"
			buildresultsurl="http://cruisecontrol.jboss.com/cc/buildresults/$name"
			skipusers="$project.getAttributeValue("skipusers")">

			<failure reportWhenFixed="$project.getAttributeValue("reportWhenFixed")" address="$project.getAttributeValue("emailFailureTo")"/>
			<always address="$project.getAttributeValue("emailAlwaysTo")"/>
		    </htmlemail>

		</publishers>
	</project>

